.advantages{
    min-height: 472px;
    background-color: #f6f6f6;
    padding: 70px 0 81px 0;
    &__title{
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        color: #0d0d0d;
    }
    &__wrapper{
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }
    &__icon{
        width: 247px;
        img{
            display: block;
            margin: 0 auto;
        }
        &_animated{
            animation: heartbeat 1.5s ease infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
    &__header{
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        margin-top: 38px;
        color: #0d0d0d;
    }
    &__subheader{
        font-size: 14px;
        margin-top: 26px;
        font-weight: 300;
        text-align: center;
        color: #0d0d0d;
        span{
            color: #ff0000;
            text-decoration: underline;
        }
    }
}