.reviews{
    padding-bottom: 71px;
    &__title{
        margin-top: 0;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        color: #0d0d0d;
        text-transform: uppercase;
    }
    &__item{
        display: flex;
        margin-top: 50px;
        img{
            max-width: 169px;
            max-height: 169px;
            margin: 0 62px 67px 0;
        }
        &:nth-child(2){
            margin-top: 70px;
        }
    }
    hr{
        width: 98%;
        height: 1px;
        background-color: #f6f6f6;
    }
    &__subtitle{
        font-size: 18px;
        font-weight: bold;
        color: #0d0d0d;
    }
    &__progress{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 300;
        color: #646464;
    }
    &__descr{
        margin-top: 19px;
        font-size: 16px;
        font-weight: 300;
        color: #0d0d0d;
    }
}